[Unit]
Description=Nextcloud Backup Timer

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=nc-backup.service

[Install]
WantedBy=timers.target
