#!/usr/bin/make -f

export PYBUILD_NAME=nc-backup

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -D -m 644 install/nc-backup.desktop debian/nc-backup/usr/share/applications/nc-backup.desktop
	install -D -m 644 install/org.ncbackup.policy debian/nc-backup/usr/share/polkit-1/actions/org.ncbackup.policy
	install -D -m 755 install/apply-schedule.sh debian/nc-backup/usr/lib/nc-backup/apply-schedule.sh
	install -D -m 755 install/enable-web-service.sh debian/nc-backup/usr/lib/nc-backup/enable-web-service.sh
	install -D -m 644 install/nc-backup-web.service debian/nc-backup/usr/lib/nc-backup/nc-backup-web.service
	mkdir -p debian/nc-backup/usr/share/nc-backup
	cp -a nextcloud-app debian/nc-backup/usr/share/nc-backup/

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start
