[Unit]
Description=Nextcloud Backup (geplant)
After=network-online.target remote-fs.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/env nc-backup-run
User=root
Group=root
SyslogIdentifier=nc-backup
