[Unit]
Description=Nextcloud Backup Web-GUI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/nc-backup/web.env
ExecStart=/usr/bin/nc-backup-web
Restart=on-failure
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target
