<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <action id="org.ncbackup.apply-schedule">
    <description>Nextcloud Backup Zeitplan anwenden</description>
    <message>Administrator-Rechte sind erforderlich, um den Backup-Zeitplan einzurichten.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/nc-backup/apply-schedule.sh</annotate>
  </action>
  <action id="org.ncbackup.run-backup">
    <description>Geplantes Nextcloud Backup ausführen</description>
    <message>Nextcloud Backup wird im Hintergrund ausgeführt.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
